<%- include ('partials/head') %> <%- include ('partials/navbar') %>

<div class="about content">
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At beatae quod
    suscipit natus minima repellendus? A placeat odit quasi nisi rerum pariatur
    eligendi sed tempore earum delectus vero, iste voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At beatae quod
    suscipit natus minima repellendus? A placeat odit quasi nisi rerum pariatur
    eligendi sed tempore earum delectus vero, iste voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At beatae quod
    suscipit natus minima repellendus? A placeat odit quasi nisi rerum pariatur
    eligendi sed tempore earum delectus vero, iste voluptatibus.
  </p>
</div>
<%- include ('partials/footer') %>
